.card{
    background-color: hsl(217, 71%, 53%);
}

.box {
    background-color: hsl(204, 86%, 53%);
}

.box.result:hover {
    transition: transform 150ms;
    transform: scale(1.05);
}

.box.result:active {
    background-color: lightgreen;
    transition: transform 150ms;
    transform: scale(1)
}

#movie-title {
    font-weight: bold;
    font-size: large;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}